@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.font-lob {
  font-family: "Lobster", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.font-rob {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  height: 300px;
  width: 500px;
  background-image: url("https://picsum.photos/600");
  background-size: cover;
  padding: 15px;
  position: relative;
  overflow: hidden;
}
.inner {
  height: 100%;
  width: 50%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner h1 {
  font-size: 72px;
  line-height: 80px;
}

.inner p {
  font-size: 1.2rem;
  text-align: center;
}
.text-mask {
  color: rgba(0, 255, 255, 0);
  background: url("https://picsum.photos/600") no-repeat center;
  background-clip: text;
}
.bg-scale {
  background-size: 100%;
  transition: all 0.5s ease;
}
.bg-scale:hover {
  background-size: 110%;
}
.one {
  background-color: #01204e;
  display: none;
}
.two {
  background-color: #f6dcac;
  display: none;
}
.three {
  background-color: #028391;
  display: none;
}
/* .four {
  /* background-color: #feae6f; */
/* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
} */
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 200%;
  left: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(140, 0, 255, 0.473),
    rgba(5, 113, 201, 0.89)
  );
  transition: all 0.4s ease;
}
.container:hover .overlay {
  top: 0;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  z-index: 11;
}
.container:hover .info {
  top: 10%;
}
.category {
  font-size: 1.2rem;
  color: white;
}
.title {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  /* position:relative*/
  z-index: 2;
  display: inline-block;
  color: white;
}

.title::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 30%;
  background-color: gold;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.overlay-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 60%;
  transform: translateY(-50%);
  padding: 20px;
  gap: 16px;
}
.overlay-text p {
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: white;
  text-align: center;

  /* white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;  */
}
.overlay-btn {
  padding: 8px 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: rgb(112, 111, 107);
  transition: all 0.4s ease;
}
.overlay-btn:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom right,
    rgba(140, 0, 255, 0.212),
    rgba(5, 113, 201, 0.726)
  );
  color: white;
}
.clamped-text {
  display: -webkit-box; /* Use display: -webkit-box to enable the clamping behavior */
  -webkit-box-orient: vertical; /* Specify the box orientation */
  -webkit-line-clamp: 3; /* Specify the number of lines to display */
  overflow: hidden; /* Hide the overflowing content */
  text-overflow: ellipsis; /* Add ellipsis at the end of the visible text */
  white-space: normal; /* Allow the text to wrap */
}
.wrapper.three h2 {
  font-size: 3.8rem;
  background-image: linear-gradient(to right, rgb(255, 116, 2), rgb(4, 255, 4));
  background-clip: text;
  color: #01204e00;
  text-shadow: 17px 17px 20px #1a101052;
}

.four {
  background-color: #feae6f;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  height: 150vh;
}

.main-container {
  width: 100%;
  position: relative;
}
.image {
  width: 100%;
  height: auto;
  display: block;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #028391;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.img-overlay:hover {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
}

.img-overlay-two {
  position: absolute;
  bottom: 100%;
  right: 0;
  height: 0;
  width: 100%;
  left: 0;
  background-color: #028391;
  overflow: hidden;
  transition: all 0.5s ease;
}
.main-container:hover .img-overlay-two {
  bottom: 0;
  height: 100%;
}

.img-overlay-three {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  background-color: #028391;
  transition: all 0.5s ease;
}

.main-container:hover .img-overlay-three {
  height: 100%;
}
.img-overlay-six{
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  width:0;
  height: 100%;
  background-color: #028391;
  overflow: hidden;
  transition: all 0.4s ease;
}
.main-container:hover .img-overlay-six{
  width: 100%;
  
}
.img-overlay-five{
  position: absolute;
  bottom:0;
  right:0;
  left:100%;
  height:100%;
  width:0;
  overflow: hidden;
  background-color: #028391;
  transition: all 0.5s ease;
}
.main-container:hover .img-overlay-five{
width:100%;
left: 0;
}
.img-overlay-four{
  position: absolute;
  top: 0;
  left:0;
  height:100%;
  width: 100%;
  background-color: #ffffff76;
  overflow: hidden;
  transition: all 0.5s ease;
  opacity:0;
}
.main-container:hover .img-overlay-four{
  opacity:1;
}
.btn{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: #4CAF50;
  padding: 16px 32px;
  color: white;
  font-size: 14px;
}